# Ignore all __pycache__ folders recursively
**/__pycache__/

# Ignore the entire tests directory
**/tests/

# Ignore the entire media directory
**/media/

# Ignore the entire output directory
**/output/

# Ignore .env files anywhere
**/.env
